@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dc {
  background-color: #fffadd;
}

.bg-but {
  background-color: #cbc8ba;
}

.text-y {
  color: #c1ad42;
}
.text-aliceblue {
  color: aliceblue;
}

.bg-postcol {
  background-color: #f7eaa9;
}

.bg-radio {
  background-color: #e5d684;
}

.domainc {
  color: #b1991e;
}
