

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
    @apply bg-[#C6B34E] bg-opacity-[22%] max-h-full
}

.menubar{
    @apply bg-[#F7EAA9] top-0 left-0 p-3 w-[295px] rounded-r-3xl flex-col justify-around
}

.searchbar{
    @apply bg-[#E5D684]  w-[20rem] px-3 py-2.5 rounded-xl w-full text-sm
}

.images{
    @apply w-[250px] h-[180px] md:w-[300px] md:h-[220px] lg:w-[320px] lg:h-[270px] p-[5.5px] hover:transform hover:scale-105 duration-300
}

.genre{
    @apply hover:bg-[#E7DA95] px-7 py-2 rounded-xl max-w-fit bg-[#CBC8BA] duration-700 mr-3 hover:cursor-pointer
}
.text-shadow-lg{
    text-shadow: 3px 3px 6px rgb(0 0 0 / 26%), 0 0 5px rgb(15 3 86 / 22%)
}
.routes{
    @apply py-1.5
}
.info{
    @apply py-1
}
